!!! 5

- var checked_flat = "checked"
- var checked_house = "checked"
- var checked_field = "checked"
- var checked_other = "checked"

if criteria
  if criteria.max_price > 0
    max_price = criteria.max_price
  else
    max_price = ""
  if criteria.cities
    cities = criteria.cities
  else
    cities = []
  if criteria.types
    checked_flat = criteria.types.indexOf('flat')   != -1 ? "checked" : undefined
    checked_house = criteria.types.indexOf('house') != -1 ? "checked" : undefined
    checked_field = criteria.types.indexOf('field') != -1 ? "checked" : undefined
    checked_other = criteria.types.indexOf('other') != -1 ? "checked" : undefined

html
 include head
 body
  include navbar
  form(action="/" + user_code + "/criteria", method="post")
   div
    .input-group
     span.input-group-addon &euro;
     input.form-control(type="text", name="max_price", placeholder="prix max", value=max_price)
    .panel.panel-default
     .panel-heading Type de bien
     .panel-body
      .checkbox
       label
        input(name="types",type="checkbox",value="flat",checked=checked_flat)
        p Appartement
       label
        input(name="types",type="checkbox",value="house",checked=checked_house)
        p Maison
       label
        input(name="types",type="checkbox",value="field",checked=checked_field)
        p Terrain
       label
        input(name="types",type="checkbox",value="other",checked=checked_other)
        p Inconnu
   input(type="hidden",id="cities",name="cities",value=cities)
   div
    button.btn.btn-default(type="submit") enregistrer
  include foot
