!!! 5

//TODO remove this block ?
- var action = "/"
case active
 when "new"
  - action = "/"
 when "like"
  - action = "/like"
 when "dislike"
  - action = "/dislike"

html
 include head
 body
  include navbar
  .container(class=active)
   each pub in pubs
    .row.pub(id=pub.id, class=pub.opinion)
     .col-md-6.desc
      div
       a(href=pub.url)= pub.location
      div= pub.description
      div= pub.cities
     .col-md-1.desc= pub.price
     .col-md-3.desc
      a(href=pub.url)
       img.pub(src=pub.img)
     .col-md-2.vote
      button.btn.btn-success.btn-vote Bien
      button.btn.btn-danger.btn-vote Bof
  include foot
