!!! 5

//TODO remove this block ?
- var action = "/"
case active
 when "new"
  - action = "/"
 when "like"
  - action = "/like"
 when "dislike"
  - action = "/dislike"

html
 include head
 body
  include navbar
  .container.pubs(class=active)
   each pub in pubs
    a(href=pub.url)
     .row.pub(id=pub.id, class=pub.opinion)
      .col-md-6.desc
       div
       div= pub.location
       div= pub.description
       div= pub.cities
       div= pub.types
      .col-md-1.desc= pub.price
      .col-md-3.desc
       img.pub(src=pub.img)
      .col-md-2.vote
       button.btn.btn-success.btn-vote Bien
       button.btn.btn-danger.btn-vote Bof
  include foot
