!!! 5

- var action = "/"
case active
 when "new"
  - action = "/"
 when "like"
  - action = "/like"
 when "dislike"
  - action = "/dislike"

include head
include navbar
table.table.table-hover
 tbody
  each pub in pubs
   tr.pub(id=pub.id, class=pub.opinion)
    td
     div
      a(href=pub.url)= pub.location
     div= pub.description
     div(style="width: 500px; word-wrap: break-word")= pub.cities
    td= pub.price
    td
     a(href=pub.url)
      img.pub(src=pub.img)
    td
     button.btn.btn-success.btn-vote Bien
     button.btn.btn-danger.btn-vote Bof
include foot
