!!! 5

html
 include head
 body
  include jumbo

  .promote
   .container
      p Risno recherche sur les principaux sites d'annonces immobilières et se souvient de celles que vous avez déjà vues.
      p Gagnez du temps sans rater aucune annonce. Risno vous aide à faire le tri dans la montagne d'annonces disponibles.
      p Une annonce vous plaît ? Mettez là de côté dans les 
       span.label.label-success biens
      p Encore une annonce pas terrible ? Oubliez la dans les 
       span.label.label-danger bofs 


  .promote
   .container.help
     .col-lg-6.col-md-6.box
      h2 Nouveau venu
      p Risno vous a déjà préparé une petite place pour se souvenir des annonces que vous aurez déjà vues et que vous ne voudrez plus voir à chacune de vos visites.
      p
       button.btn.btn-success(data-toggle="modal",data-target="#send_new_id") Consulter les annonces

     .col-lg-6.col-md-6.box
      h2 Déjà venu
      p Si vous êtes déjà venu, vous avez reçu un identifiant qui vous permet de retrouver vos annonces et vos filtres de vos précédentes visites.
      p
       button.btn.btn-primary(data-toggle="modal",data-target="#enter_id") Ah oui, je m'en souviens !
       button.btn.btn-danger(data-toggle="modal",data-target='#send_id') Ah... ben j'ai oublié :(

  .promote
   .container
    p
      if stats
        span  En ce moment, risno référence&nbsp;:
      if stats
        ul
          each stat in stats
            li
              span= stat.nb
              span  annonces du site
              a(href="http://" + stat.host)
                = stat.host
              span  mises à jour
              span= moment(stat.older, '', 'fr').fromNow()

  .modal.fade(id="send_new_id",role="dialog")
   .modal-dialog
    .modal-content
     .modal-header
      button.close(type="button",data-dismiss="modal") &times;
      h4.modal-title Votre identifiant Risno&nbsp;:
       span.label.label-primary= user_code
     .modal-body
      p Si vous nous confiez votre email, nous pourrons vous renvoyer votre identifiant en cas de perte. Nous ne ferons aucun autre usage de votre email.
      p Rassurez-vous, cette étape est totalement optionelle. Si vous n'êtes pas à l'aise à l'idée de nous confier votre email, ne le faites pas.
      form(method="POST",action="/send_new_id",id="send_new_id_form",role="form")
       input(type="hidden",name="user_code",value=user_code)
       .form-group
        label.control-label.sr-only(for="email") Votre email
        input.form-control(id="email",name="email",type="email",required,placeholder="Votre email")
       .form-group
        label.control-label.sr-only(for="confirm_email") Confirmez votre email
        .controls
         input.form-control(name="confirm_email",type="email",placeholder="Confirmez votre email")
       .form-group
        button.btn.btn-success.pull-right(type=submit) Envoyer
     .modal-footer
      .pull-left
       p(style="text-align: left;") Attention ! si vous choisissez de ne pas renseigner votre email, nous ne pourrons rien pour vous si jamais vous perdez votre identifiant. Alors conservez le précieusement. Mais vous êtes quand même bienvenu.
      .form-group
       a.button.btn.btn-danger(href='/_/' + user_code + '/criteria') Je prends le risque

  .modal.fade(id="enter_id",role="dialog")
   .modal-dialog
    .modal-content
     form(id="enter_id_form",role="form")
      .modal-header
       button.close(type="button",data-dismiss="modal") &times;
       h4.modal-title Retrouvez vos critères et vos annonces
      .modal-body
       .form-group
        label.control-label.sr-only(for="user_code") Votre identifiant Risno
        input.form-control(name="user_code",type="text",required,placeholder="Votre identifiant Risno")
      .modal-footer
       .form-group
        button.btn.btn-primary(type=submit) Voir mes annonces

  .modal.fade(id="send_id",role="dialog")
   .modal-dialog
    .modal-content
     form(id="send_id_form",role="form")
      .modal-header
       button.close(type="button",data-dismiss="modal") &times;
       h4.modal-title Recevoir votre identifiant par email 
      .modal-body
       .form-group
        label.control-label.sr-only(for="email") Votre email
        input.form-control(name="email",type="email",required,placeholder="Votre email")
       .form-group
      .modal-footer
       .form-group
        button.btn.btn-primary(id="send_id_button",type="button",data-loading-text="Envoi...") Envoyer
       .alert.alert-success(style="display: none;") Un email avec vos identifiants vous a été envoyé.
       .alert.alert-danger(style="display: none;") Désolé, l'envoi vers cette adresse a échoué.
  include foot

  script.
    $('#send_id_button').button('reset')
    $('#send_id_button').click(function() {
      var btn = $(this)
      var form = btn.parents('form')
      if (! form.valid()) return
      var input = form.find('input[name=email]')
      var email = input.val()
      var success_msg = btn.closest('.modal-footer').find('.alert-success')
      var error_msg = btn.closest('.modal-footer').find('.alert-danger')
      success_msg.hide()
      error_msg.hide()
      btn.button('loading')
      $.ajax("/send_id", {
        data: {email: email},
        type: 'POST'
      }).done(function() {
        success_msg.show()
      }).fail(function() {
        error_msg.show()
      }).always(function() {
        btn.button('reset')
      })
    })
  
  script(src="/jquery/jquery.validate.js")

  script.
   $(document).ready(function() {
    var highlight = function(element) {
      $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
    }
    var success = function(element) {
      element.closest('.form-group').removeClass('has-error').addClass('has-success')
    }
    var errorPlacement = function(error, element) {
       error.addClass("control-label")
       error.insertBefore(element)
    }
 
    $('#enter_id_form').validate({
     messages: {
       user_code: "Veuillez indiquer votre identifiant Risno :"
     },
     errorPlacement: errorPlacement,
     highlight: highlight,
     success: success
    })
    $('#send_id_form').validate({
     rules: {
       email: {
         remote: '/check_mail'
       }
     },
     messages: {
       email: "Veuillez indiquer un email valide :",
     },
     errorPlacement: errorPlacement,
     highlight: highlight,
     success: success
    })
    $('#send_new_id_form').validate({
     rules: {
      confirm_email: {
       equalTo: "#email"
      }
     },
     messages: {
       email: "Veuillez indiquer un email valide :",
       confirm_email: "Veuillez confirmer votre email :"
     },
     errorPlacement: errorPlacement,
     highlight: highlight,
     success: success
    })
   })
