!!! 5

html
 include head
 body
  .jumbotron
   .hero
    h1 Risno
    p Le moteur de recherche immobilier 

  .promote
   .container
    .row
     .col-lg-6.col-md-6.box
      h2 Toutes les annonces
      p Risno recherche sur les principaux sites d'annonces immobilières mais aussi sur les sites des principales enseignes d'agences et même peut-être celui de la petite agence près de chez vous.

     .col-lg-6.col-md-6.box
      h2 Classer mes annonces
      p Une annonce vous plaît ? Mettez là de coté dans les 
       span.label.label-success biens
      p Encore une annonce pas terrible ? Oubliez la dans les 
       span.label.label-danger bofs 

  .promote
   .container
    .row
     .col-lg-6.col-md-6.box
      h2 Nouveau venu ?
      p Votre compte Risno est déjà prêt. Votre identifiant est 
       span.label.label-primary= user_code
      p Conservez-le précieusement, il vous permettra de retrouver vos annonces et vos filtres à chaque visite.
      p
       button.btn.btn-primary(data-toggle="modal",data-target="#send_new_id") Consulter les annonces

     .col-lg-6.col-md-6.box
      h2 Je suis déjà venu !
      p Vous avez déjà reçu un identifiant qui vous permet de retrouver vos annonces et vos critères.
      p
       button.btn.btn-success(data-toggle="modal",data-target="#enter_id") Ah oui, je m'en souviens !
      p
       button.btn.btn-danger(data-toggle="modal",data-target='#send_id') Ah... ben j'ai oublié :(

  .modal.fade(id="send_new_id",role="dialog")
   .modal-dialog
    .modal-content
     .modal-header
      button.close(type="button",data-dismiss="modal") &times;
      h4.modal-title Ne perdez pas votre identifiant : 
       span.label.label-primary= user_code
     .modal-body
      form(id="send_new_id_form",role="form")
       p Votre identifiant est très important, il vous permet de retrouver vos critères et vos nouveautés. Pour plus de sécurité, recevez-le par email.
       .form-group
        label.control-label.sr-only(for="email") Votre email
        input.form-control(id="email",name="email",type="email",required,placeholder="Votre email")
       .form-group
        label.control-label.sr-only(for="confirm_email") Confirmez votre email
        .controls
         input.form-control(name="confirm_email",type="email",placeholder="Confirmez votre email")
       .form-group
        button.btn.btn-success.pull-right(type=submit) Envoyer
     .modal-footer
      .pull-left
       p(style="text-align: left;") Attention ! si vous ne choisissez pas de recevoir votre identifiant par email, nous ne pourrons rien pour vous si jamais vous le perdez.
      .form-group
       a.button.btn.btn-danger(href=user_code) Je prend le risque

  .modal.fade(id="enter_id",role="dialog")
   .modal-dialog
    .modal-content
     form(id="enter_id_form",role="form")
      .modal-header
       button.close(type="button",data-dismiss="modal") &times;
       h4.modal-title Retrouvez vos critères et vos annonces
      .modal-body
       .form-group
        label.control-label.sr-only(for="user_id") Votre identifiant Risno
        input.form-control(name="user_id",type="text",required,placeholder="Votre identifiant Risno")
      .modal-footer
       .form-group
        button.btn.btn-primary(type=submit) Voir mes annonces

  .modal.fade(id="send_id",role="dialog")
   .modal-dialog
    .modal-content
     form(id="send_id_form",role="form")
      .modal-header
       button.close(type="button",data-dismiss="modal") &times;
       h4.modal-title Recevoir votre identifiant par email 
      .modal-body
       .form-group
        label.control-label.sr-only(for="email") Votre email
        input.form-control(name="email",type="email",required,placeholder="Votre email")
       .form-group
      .modal-footer
       .form-group
        button.btn.btn-primary(type=submit) Envoyer
  include foot
  
  script(src="/jquery/jquery.validate.js")

  script.
   $(document).ready(function() {
    var highlight = function(element) {
      $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
    }
    var success = function(element) {
      element.closest('.form-group').removeClass('has-error').addClass('has-success')
    }
    var errorPlacement = function(error, element) {
       error.addClass("control-label")
       error.insertBefore(element)
    }
 
    $('#enter_id_form').validate({
     messages: {
       user_id: "Veuillez indiquer votre identifiant Risno :"
     },
     errorPlacement: errorPlacement,
     highlight: highlight,
     success: success
    })
    $('#send_id_form').validate({
     messages: {
       email: "Veuillez indiquer un email valide :",
     },
     errorPlacement: errorPlacement,
     highlight: highlight,
     success: success
    })
    $('#send_new_id_form').validate({
     rules: {
      confirm_email: {
       equalTo: "#email"
      }
     },
     messages: {
       email: "Veuillez indiquer un email valide :",
       confirm_email: "Veuillez confirmer votre email :"
     },
     errorPlacement: errorPlacement,
     highlight: highlight,
     success: success
    })
   })
